:root {
  /* Fonts */
  --font-sans:
    'Pretendard', system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --font-mono:
    'Inconsolata', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;

  /* Gray scale */
  --color-gray-900: oklch(0.18 0.02 260);
  --color-gray-600: oklch(0.4712 0 0);
  --color-gray-200: oklch(0.88 0.01 260);
  --color-gray-100: oklch(0.9791 0 0);

  /* Accent */
  --color-red-500: oklch(0.58 0.22 25);
  --color-pink-100: oklch(0.96 0.02 3.81);

  --spotlight-color: color-mix(
    in oklch,
    var(--color-pink-100) 80%,
    transparent
  );
}

.dark {
  /* Gray scale */
  --color-gray-900: oklch(0.93 0.008 248);
  --color-gray-600: oklch(0.78 0.01 248);
  --color-gray-200: oklch(0.34 0.012 248);
  --color-gray-100: oklch(15.802% 0.01062 294.29);

  /* Accent */
  --color-red-500: oklch(59.96% 0.17729 10.263);
  --color-pink-100: oklch(26.825% 0.02643 340.197);

  --spotlight-color: color-mix(
    in oklch,
    var(--color-pink-100) 40%,
    transparent
  );
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
}

body {
  overscroll-behavior-y: none;
}

html {
  scroll-behavior: smooth;
}
